body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 60px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.recipe {
    list-style: none;
    text-align: center;
}

li {
    display: inline;
    margin: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}